body{ 
    background-color:#333333;
    overflow-x:hidden;
}

  .swiper-slide {
      width: 100%;
      max-width: 488px; 
    }
    
    .swiperst{
      width:100%;
      max-width: 240px;
      height: 100%;  
      margin-right: 30px;
       -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }

      .swiperste{
        margin-right: 30px;
        width: 100%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
      }

      .swiperst1{
        width:100%;
        max-width: 160px;
        height: 100%;
        margin-right: 30px;
         -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
      }
  
        .swiperste1{
          margin-right: 30px;
          width: 100%;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          border-radius: 15px;
        }
    /* .promote{
      margin-block-end: auto;
      display:block;
    } */

    .promotetxt{
      text-align: center;
      background-color:#3d3d3d;
      height:188px;
      color:white;
      content: center;   
    }

    .promotetxt1{
      text-align: center;
      background-color:#3d3d3d;
      height:322px;
      color:white;
      content: center; 
      -webkit-border-bottom-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .smalltext{
      -webkit-border-bottom-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 10px;
      color: white;
      background-color: #3d3d3d;
    }

    .imgs{
      width: 100%;
      height: 100%;
      -webkit-border-radius: 10px ;
      -moz-border-radius: 10px ;
      border-radius: 10px ;
    }
    
    .imgse{
      width: 100%;
      height: 100%;
      -webkit-border-top-right-radius: 15px;
      -webkit-border-top-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-topleft: 15px;
      border-top-right-radius: 10px ;
      border-top-left-radius: 10px;
    }

    .imgsize{
      width: 100%;
      height: 100%;
    }
    
.imgse{
      width: 100%;
      height: 100%;
      -webkit-border-top-right-radius: 15px;
      -webkit-border-top-left-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-topleft: 15px;
      border-top-right-radius: 10px ;
      border-top-left-radius: 10px;
    }

 .imgsize{
      width: 100%;
      height: 100%;
    }

    .scrolling-scroller {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    div.scrolling-scroller::-webkit-scrollbar{
      display:none;
    }

      .card {
        flex: 0 0 auto;
        border: 0;
      }

  .scrolling-scroller {
      -webkit-overflow-scrolling: touch;
      
    }

.brah{
  margin: 0 auto;
}


@media (max-width:480px) {
.s{
  height: 175px;
  width: 100%;
}
}

