

/* SCROLL BAWAH H */
  div.scrollm {
    display:flex;
    background-color:#3d3d3d;
    overflow-x:auto;
    justify-content: center;
  }
  
  div.scrollm::-webkit-scrollbar{
    display:none;
  }
  
  div.scrollm a{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:nowrap;
    flex-wrap: nowrap;
    text-decoration: none;
    text-align: center;
    padding : 14px;
    color:white;
  }
  
  div.scrollm a:hover{
    color:orange;
  }

  .bcgclr{
    background-color:#3d3d3d; 
  }

